<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/blog/style.css' />
  </head>
  <body>
    <h1>Test Blog</h1>

    <a href=/blog/create>Create Blog</a>

    <ul>
        <% for(var i = 0; i < blogItems.length; i++) { %>
          <li class="blog-item">
            <div class="blog-header">
                <h2><%= blogItems[i]['title'] %></h2>
                <p><%= blogItems[i]['createdAt'] %></p>
            </div>
            <div class="blog-content">
                <p><%= blogItems[i]['content'] %></p>
                <img src=<%= blogItems[i]['image'] %> height="150px" width="150px">
            </div>
            <a class="btn" href=/blog/edit/<%= blogItems[i]['id'] %>>Update</a>
            <a class="btn" href=/blog/delete/<%= blogItems[i]['id'] %>>Delete</a>
            <hr>
          </li>
        <% } %>
    </ul>
  </body>
</html>
