<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/blog/style.css' />
  </head>
  <body>

    <% if (user) { %>
      <h1>Welcome <%= user.username %></h1>
    <% } else { %>
      <h1>Welcome to my Blog</h1>
    <% } %>

    <% if (user) { %>
      <a href=/blog/create>Create Blog</a>
      <a href=/blog/logout>Logout</a>
    <% } else { %>
      <a href=/blog/wp-admin>Login</a>
    <% } %>

    <ul>
        <% for(var i = 0; i < blogItems.length; i++) { %>
          <li class="blog-item">
            <div class="blog-header">
                <h2><%= blogItems[i]['title'] %></h2>
                <p><%= blogItems[i]['createdAt'] %></p>
            </div>
            <div class="blog-content">
                <p><%= blogItems[i]['content'] %></p>
                <img src=<%= blogItems[i]['image'] %> height="150px" width="150px">
            </div>
            <% if (user) { %>
              <a class="btn" href=/blog/edit/<%= blogItems[i]['id'] %>>Update</a>
              <a class="btn" href=/blog/delete/<%= blogItems[i]['id'] %>>Delete</a>
            <% } %>
            <hr>
          </li>
        <% } %>
    </ul>
  </body>
</html>
